{% extends '@RabbleAdmin/Layout/base.html.twig' %}
{% trans_default_domain 'RabbleUserBundle' %}
{% block page_content %}
    <div class="row">
        <div class="col-12 mB-20">
            {% include '@RabbleAdmin/flash_messages.html.twig' with {mb: 3} only %}
            {% if is_granted('user.create') %}
                <a href="{{ path('rabble_admin_user_create') }}" class="btn btn-info"><i class="fa fa-plus-circle"></i> {{ 'user.create'|trans }}</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h4 class="c-grey-900 mB-20">{% block title %}{{ 'menu.user'|trans }}{% endblock %}</h4>
                {{ datatable('user') }}
            </div>
        </div>
    </div>
{% endblock %}